<!-- main.template.html -->
<div class="header">
  <div class="title">
    <h1>##PAGE_HEADER##</h1>
    <p class="subtitle">##PAGE_TITLE##</p>
    <div class="contact">
      <span><i class="fa-solid fa-at"></i> ##CONTACT_EMAIL##</span>
      <span><i class="fa-solid fa-globe"></i> <a class="grey-link" href="##CONTACT_WEBSITE_URL##" target="_blank">##CONTACT_WEBSITE_TEXT##</a></span>
      <span><i class="fa-solid fa-phone"></i> ##CONTACT_PHONE##</span>
      <span><i class="fa-solid fa-location-dot"></i> ##CONTACT_LOCATION##</span>
    </div>
  </div>
  ##IMAGE_BLOCK##
</div>

<div>
  <div class="section-title">SUMMARY</div>
  <p style="font-size: 13px; color: #444;">
    ##SUMMARY##
  </p>
</div>

<div class="two-column">
  <div>
    ##EXPERIENCE_SECTION##
    ##EDUCATION_SECTION##
  </div>

  <div>
    ##ACHIEVEMENTS_SECTION##
    ##SKILLS_SECTION##
    ##LANGUAGES_SECTION##
    ##PUBLICATIONS_SECTION##
    ##AWARDS_SECTION##
    ##CERTS_SECTION##
  </div>
</div>

